# Backend
backend/target/
backend/*.jar
backend/target/academic-platform-0.0.1-SNAPSHOT.jar
# Firebase
# Firebase secret
backend/src/main/resources/firebase-service-account.json
*.json

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db